.App {
  margin: 10px;
}

.column {
  height: 90vh;
  overflow: auto;
}

.recipeImage {
  float: left;
  padding: 10px 10px 10px 10px;
  object-fit: cover;
}

.RecipeCard {
  margin: 5px;
}

.Button {
  margin: 5px;
}

h1 {
  font-weight: bold;
  text-align: center; 
}

h2 {
  font-variant: small-caps;
}

p {
  text-align: center;
  font-style: italic;
}